.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/pexels-dids-2790954.jpg");
  background-position: 50% 66.79%;
}

.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 {
  background-image: linear-gradient(white, #231f20);
}

.u-section-2 .u-sheet-1 {
  min-height: 1702px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 40px 20px 0;
}

.u-section-2 .u-list-1 {
  min-height: 1024px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  width: 1140px;
  grid-gap: 0px 0px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/Tim.png");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/Chris.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-3 {
  width: 255px;
  height: 255px;
  background-image: url("images/Bhupi.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-4 {
  width: 255px;
  height: 255px;
  background-image: url("images/mana.png");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-5 {
  width: 255px;
  height: 255px;
  background-image: url("images/annelaure.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 40px 30px 30px;
}

.u-section-2 .u-image-6 {
  width: 255px;
  height: 255px;
  background-image: url("images/carole.jpg");
  background-position: 50% 50%;
  margin: 13px auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 255px;
  min-height: 148px;
  margin: -255px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 0 25px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-slider-1 {
  min-height: 435px;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-2 .u-list-2 {
  min-height: 375px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-7 {
  min-height: 124px;
  width: 280px;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-social-icons-7 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-icon-7 {
  height: 32px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-8 {
  min-height: 124px;
  width: 280px;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-17 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-social-icons-8 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-icon-8 {
  height: 32px;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-9 {
  min-height: 124px;
  width: 280px;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-19 {
  padding: 0 10px;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-19 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-social-icons-9 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-icon-9 {
  height: 32px;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px 50px;
}

.u-section-2 .u-list-3 {
  min-height: 375px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-10 {
  min-height: 124px;
  width: 280px;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-22 {
  padding: 0 10px;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-21 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-social-icons-10 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-icon-10 {
  height: 32px;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

.u-section-2 .u-image-11 {
  width: 180px;
  height: 180px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-11 {
  min-height: 124px;
  width: 280px;
  margin: 11px 0 0;
}

.u-section-2 .u-container-layout-24 {
  padding: 0 10px;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-23 {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  margin: 10px 0 0;
}

.u-section-2 .u-social-icons-11 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-2 .u-icon-11 {
  height: 32px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-text-24 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 30px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 844px;
    grid-template-columns: repeat(2, 50%);
    width: 940px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-slider-1 {
    min-height: 363px;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    min-height: 303px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    height: auto;
  }

  .u-section-2 .u-list-3 {
    min-height: 303px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-2 {
    min-height: 714px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-3 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-24 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    height: 32px;
  }

  .u-section-2 .u-icon-2 {
    height: 32px;
  }

  .u-section-2 .u-icon-3 {
    height: 32px;
  }

  .u-section-2 .u-icon-4 {
    height: 32px;
  }

  .u-section-2 .u-icon-5 {
    height: 32px;
  }

  .u-section-2 .u-icon-6 {
    height: 32px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 135px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 22px 33px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 168px;
  height: 75px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 84px;
  height: 75px;
  margin: auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 170px;
  height: 75px;
  margin: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 119px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 660px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 675px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-form-1 {
  height: 437px;
  margin: 20px -60px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 675px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 0 45px 0 10px;
}

.u-section-4 .u-list-1 {
  width: 415px;
  min-height: 303px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 20px 10px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 20px 10px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: auto 0 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px 20px 10px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-8 {
  margin: auto 0 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 332px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }
}